html{
    height: 100%;
}


body{
    height: 100%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin-top: 100px;
    font-family: "Montserrat", arial;
}

.nombre-juego{
    align-items: center;
    text-align: center;
    padding-bottom: 50px; 
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    column-gap: 5px;
    row-gap: 25px;
    padding: 0 350px;   
}


.circulo-letra{
    display: flex;
    border: black 2px solid;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    padding: 1em;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);   
}

.comenzar {
    visibility: hidden;
}

.comenzar-juego {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0 25%;
    column-gap: 10px;
}


#pregunta {
    display: flex;
    margin-top: 70px; 
    padding: 0 25%;
}

#respuesta-jugador {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 0 25% 25%;
    column-gap: 10px;
    visibility: hidden;
}


#instrucciones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 25%;
    column-gap: 10px;
}

.mensaje {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 0 25%;
    column-gap: 10px;
    color: red;
}

.mensaje2 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 0 25%;
    column-gap: 10px;
    color: violet;
}


#nombre-jugador {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 0 25%;
    column-gap: 10px;
    visibility: visible;
}

#nombre {
    height: 20px;
}

.enviar-nombre {
    height: 25px;
}

.temporizador-on {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 25%;
    column-gap: 10px;
}

.tiempo {
    color: rgb(207, 48, 207)
}

.reanudar-juego {
    visibility: hidden;
}

.enviar-respuesta {
    visibility: hidden;
}

.pasapalabra {
    visibility: hidden;
}

.parar-juego {
    visibility: hidden;
}

.ranking {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    column-gap: 10px;
    color: black;  
    text-align: center; 
}

td {
    padding: 7px;
}



